*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html ,body{
height: 100%;
width: 100%;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: lightcyan;
}
.page1 .box{
    height: 100px;
    width: 100px;
    position: relative;
    background-color: blueviolet;
}

.page1 h5{
    color: blue;
}
.page1 h3{
    color: slategray;
}
.page1 h1{
    color: blueviolet;
}